# 1- Dimensional Array using Numpy

In [1]:
# Library
import numpy as np
b = np.array([6, 7, 8]) # 1 Dimensional Array
b
type(b) # to know the dimension of array 
a=np.arange(6)
a
type(a)

numpy.ndarray

In [2]:
vp=np.arange(8)
vp
type(vp)

numpy.ndarray

In [3]:
vc=np.arange(2,20) # 1-D Array from 2 to 20(20 is exclusiive s it not include by default)
vc

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [4]:
vv=np.arange(10, 35, 5) # 10 to 35 One Dimensional Array with Common Difference of 5
vv

array([10, 15, 20, 25, 30])

In [5]:
fp=np.arange(0, 2, 0.3) # 0 To 2 in equal division(difference) of 0.3 
fp

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

In [6]:
dp=np.linspace(0, 2, 10)    # linespace is used to divide 0 to 2 in 10 parts 
dp

array([0.        , 0.22222222, 0.44444444, 0.66666667, 0.88888889,
       1.11111111, 1.33333333, 1.55555556, 1.77777778, 2.        ])

# 2- Dimensional Array

In [8]:
a = np.arange(32).reshape(4, 8) # Make a 2-d Array of 4 Rows and 8 Columns
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31]])

In [9]:
a.shape # To knowns the shape of array(r,c)

(4, 8)

In [10]:
ar=np.array([[2,4,6],[2,4,6],[2,4,6]])
ar

array([[2, 4, 6],
       [2, 4, 6],
       [2, 4, 6]])

# 3-Dimensional Array

In [11]:
d3=np.arange(24).reshape(2,3,4) # 3 Dimensional Array of 24 Elements and each row have 4 element
d3

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [12]:
d3.shape

(2, 3, 4)

In [14]:
d4=np.arange(36).reshape(3,3,4)
d4

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31],
        [32, 33, 34, 35]]])

In [15]:
d5=np.arange(48).reshape(3,4,4)
d5

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]]])