# 1- Indexing

In [11]:
#make a string
a="Samosa Pakora"
a

'Samosa Pakora'

In [12]:
# lenght of sting
len(a)

13

In [13]:
a[1]

'a'

In [14]:
a[3]

'o'

In [15]:
a[5]

'a'

In [16]:
a[12]

'a'

In [17]:
a[0:5]

'Samos'

In [18]:
#last index is exclusive(indexing start form 0)
a[0:6]

'Samosa'

In [19]:
a[-1]

'a'

In [20]:
a[-4]

'k'

In [21]:
a[-1:-6]

''

In [22]:
a[-6:-1]

'Pakor'

In [23]:
a[-6:13]

'Pakora'

In [24]:
food="biryani"
food

'biryani'

# 2- String Methods

In [25]:
food

'biryani'

In [26]:
len(food)

7

In [27]:
#capitalize every element
food.capitalize()

'Biryani'

In [28]:
#uppercase Letters
food.upper()

'BIRYANI'

In [29]:
#lowercase Letters
food.lower()

'biryani'

In [30]:
# Replace Letters
food.replace("b","sh")

'shiryani'

In [31]:
# Counting a specific alphabet in a string
name="Baba_Ammar with Dr.Ammar Tufail"
name

'Baba_Ammar with Dr.Ammar Tufail'

In [32]:
name.count("a")

5

In [33]:
name.count("A")

2

# 3- Finding Index number in a String

In [34]:
name="Baba_Ammar with Dr.Ammaar Tufail Pakistan"
name

'Baba_Ammar with Dr.Ammaar Tufail Pakistan'

In [35]:
name.find("T")

26

In [36]:
name.find("aa")

22

In [37]:
# How to Split a String
food="I love Samosa,Pakora, Raita, biryani and Karahi"
food

'I love Samosa,Pakora, Raita, biryani and Karahi'

In [38]:
food.split(",")

['I love Samosa', 'Pakora', ' Raita', ' biryani and Karahi']

# Basic Data Structure in Python
1- Tuple

2- Link

3- Dictionaries

4- Set

## 1- Tuple
- Ordered Collection of Elements
- Enclosed in () round Braces/ Parenthesis
- Different kinds of Elements can be stored
- Once elements are stroed you can not change them(unmutatable)

In [39]:
tup1=(1,"Python",True, 2.5)
tup1

(1, 'Python', True, 2.5)

In [40]:
# type od tuple
type(tup1)

tuple

### - Indexng in tuple

In [41]:
tup1[1]

'Python'

In [42]:
tup1[0]

1

In [43]:
tup1[2]

True

In [44]:
tup1[0:4]

(1, 'Python', True, 2.5)

In [45]:
tup1[0:3]

(1, 'Python', True)

In [46]:
# count of elements in tuple
len(tup1)

4

In [47]:
tup2=(2, "Taimoor Ashraf", 3.5, False)
tup2

(2, 'Taimoor Ashraf', 3.5, False)

In [48]:
# Concatenate Two tuples
tup1 + tup2

(1, 'Python', True, 2.5, 2, 'Taimoor Ashraf', 3.5, False)

In [49]:
# repeat One tuple Two Times and Concatenate with tuple 2
tup1*2 + tup2

(1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 2,
 'Taimoor Ashraf',
 3.5,
 False)

In [50]:
tup3=(20,50,30,40)
tup3

(20, 50, 30, 40)

In [51]:
min(tup3)

20

In [52]:
max(tup3)

50

In [53]:
# Same value repaeat 2 Times
tup3*2

(20, 50, 30, 40, 20, 50, 30, 40)

---

# 2- List
* . Ordered Coleection of Elements

* . Inclosed in Square Bracket []/braces

* . Mutateable, You can change its values

In [54]:
list1=["Taimoor Ashraf", 3.5, False]
list1

['Taimoor Ashraf', 3.5, False]

In [55]:
type(list1)

list

In [56]:
len(list1)

3

In [57]:
list1[2]

False

In [58]:
list1[1]

3.5

In [59]:
list2=[3,5, "ammar", "Taimoor", 470, 50.3, False]
list2

[3, 5, 'ammar', 'Taimoor', 470, 50.3, False]

In [60]:
list1+list2

['Taimoor Ashraf', 3.5, False, 3, 5, 'ammar', 'Taimoor', 470, 50.3, False]

In [61]:
list1*2

['Taimoor Ashraf', 3.5, False, 'Taimoor Ashraf', 3.5, False]

In [62]:
list1

['Taimoor Ashraf', 3.5, False]

In [63]:
list1.reverse()
list1

[False, 3.5, 'Taimoor Ashraf']

In [64]:
list1.append("Codancs Baba Ammar Youtube Channel")
list1

[False, 3.5, 'Taimoor Ashraf', 'Codancs Baba Ammar Youtube Channel']

In [65]:
# list1.count

In [66]:
list3=[20,10,5,30,12,56,100,150,56,85]
list3
list3.append(25)  # append is use to add the value at the end of the list
list3

[20, 10, 5, 30, 12, 56, 100, 150, 56, 85, 25]

In [67]:
list3[::-1]

[25, 85, 56, 150, 100, 56, 12, 30, 5, 10, 20]

In [68]:
len(list3)

11

In [69]:
# Sorting
list3.sort()
list3
list3.append(60) # append is use to add the value in the list
list3

[5, 10, 12, 20, 25, 30, 56, 56, 85, 100, 150, 60]

In [70]:
lista=["z",1] # We can not sort the combination of the string and integer value
lista.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [71]:
list3*2

[5,
 10,
 12,
 20,
 25,
 30,
 56,
 56,
 85,
 100,
 150,
 60,
 5,
 10,
 12,
 20,
 25,
 30,
 56,
 56,
 85,
 100,
 150,
 60]

In [72]:
lists=list1+list2
lists

[False,
 3.5,
 'Taimoor Ashraf',
 'Codancs Baba Ammar Youtube Channel',
 3,
 5,
 'ammar',
 'Taimoor',
 470,
 50.3,
 False]

In [73]:
x=input("enter a value:")
if(x==x[::-1]):
 print("Its a Palindrome")
else:
  print("its not a palindrome")

enter a value:BABA
its not a palindrome

In [74]:

for i in range(5):
 print("*"*i)

*
**
***
****

In [75]:
b=[]
for i in range(5):
    b.append(int(input("Enter the Numbers :")))
    b

Enter the Numbers :5
Enter the Numbers :10
Enter the Numbers :15
Enter the Numbers :20
Enter the Numbers :25

In [76]:
b

[5, 10, 15, 20, 25]

In [77]:
listb = [1,2,3,4,5]
print("Actual list is:",listb)
#listb.remove(5)
del listb[2:4] # delete value between 2 and 4 which is 3
print("Updated list is:",listb)

Actual list is: [1, 2, 3, 4, 5]
Updated list is: [1, 2, 5]

In [78]:
copylist=listb.copy() # for copying the any prevous list
copylist

[1, 2, 5]

In [79]:
copylist.clear() # Clear all the values from the list
copylist

[]

In [80]:
numbers = [2, 3, 5, 2, 11, 2, 7] # check the count of 2
numbers.count(2) ##count is used to returns the number of times the specified element appears in the list.
        
##print('Count of 2:', count)

3

In [ ]:
numbers

In [81]:
lan = ['French', 'English'] #The extend() method adds all the elements of an iterable list to the end of the list.
# another list of language
lan1 = ['Spanish', 'Portuguese']

# appending language1 elements to language
lan.extend(lan1)
lan

['French', 'English', 'Spanish', 'Portuguese']

In [82]:
l=[1,2,3]
l2=[4,5,6]

l.extend(l2)
l

[1, 2, 3, 4, 5, 6]

In [83]:
# Insert a value at specific indexing user wants
l.insert(6,7)

In [84]:
l

[1, 2, 3, 4, 5, 6, 7]

In [85]:
l.remove(7) # The remove() method removes the first matching element  from the list.
l

[1, 2, 3, 4, 5, 6]

In [86]:
l.pop(2) # The pop() method removes the item at the given index from the list
l

[1, 2, 4, 5, 6]

## 3- Dictionaries
* An Ordered Collection of Variable
* Key and Value
* Curly Braces or Brackes { }
* Mutateable/ Changeable

In [87]:
#Food and their prices
food1={"Samosa":30, "Pakora":100, "Raita":20, "Salad":50, "Chicken Roll":30}   #(key:value)
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Roll': 30}

In [88]:
type(food1)

dict

In [89]:
# extract data
keys1=food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Roll'])

In [90]:
values1=food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [91]:
food1["Tikki"]=10   # Value add the end of the list
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 10}

In [92]:
# Update the value / Modify the value
food1["Tikki"]=20
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 20}

In [93]:
food2={"Date":50, "Choclates":200,"Swayyan":1000}
food2

{'Date': 50, 'Choclates': 200, 'Swayyan': 1000}

In [94]:
#concatenate
food1.update(food2)

In [95]:
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 20,
 'Date': 50,
 'Choclates': 200,
 'Swayyan': 1000}

## 4- Sets
* Unordered and Unindex
* Curly Braces are Used { }
* No Duplication is allowed

In [96]:
s1={1,2,2.2,"ammar","Codanics","FSD", True}
s1

{1, 2, 2.2, 'Codanics', 'FSD', 'ammar'}

In [97]:
#We can add a single element using the add() method,
s1.add("FSD")
s1

{1, 2, 2.2, 'Codanics', 'FSD', 'ammar'}

In [98]:
s1.remove(2.2)
s1

{1, 2, 'Codanics', 'FSD', 'ammar'}

In [99]:
# We can add()  multiple elements using the update() method.
s1.update([2.2,"ammar","Codanics","FSD","Pakistan"])

In [100]:
s1.update([0])

In [101]:
s1

{0, 1, 2, 2.2, 'Codanics', 'FSD', 'Pakistan', 'ammar'}